body{
    background-color:rgb(86, 113, 137);
    color: rgb(250, 214, 165);
    font-size: 50px;
}


a:link{
    background-color: none;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:active{
    background-color: none;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.h1{
    text-align: center;
}

.button{
    text-align: center;
    color:white;
}

.b1 {
    padding: 50px 100px;
    border: none;
    border-radius: 12px;
    background-color:rgb(207, 185, 151);
    font-size: 40px;
    margin: 4px 2px;
}


.b1:hover {
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 50px 100px;
    background-color:rgb(123, 143, 161);
    font-size: 45px;
    margin: 4px 2px;
}

.b2{
    text-align: center;
    padding: 50px 100px;
    border: none;
    border-radius: 12px;
    background-color:rgb(207, 185, 151);
    font-size: 40px;
    margin: 4px 2px;
}

.b2:hover{
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    text-align: center;
    padding: 50px 100px;
    border: 5%;
    border-radius: 12px;
    background-color:rgb(123, 143, 161);
    font-size: 45px;
    margin: 4px 2px;
}
.b3{
    padding: 50px 100px;
    border: none;
    border-radius: 12px;
    background-color:rgb(207, 185, 151);
    font-size: 40px;
    margin: 4px 2px;
}

.b3:hover{
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 50px 100px;
    border: 5%;
    border-radius: 12px;
    background-color:rgb(123, 143, 161);
    font-size: 45px;
    margin: 4px 2px;
}